/* Header Formatting */
head {
    margin: 0% 0% 0% 0%;
}
/* Body Formatting */
body {
    margin: 0px 0px 0px 0px;
    background-color: #212221;
    height: 100%;
}
/* Navigation Bar */
    /* Logo */
.nav #logo {
    width: auto;
    height: 6.384vw;
    overflow: hidden;
    margin-top: -0.399vw;
    margin-bottom: -0.399vw;
}
    /* File Paths */
.nav ul {
    list-style-type: none; 
    font-size: 1.33vw;
    background-color: #1181B2;
    font-family: 'Newsreader', serif;
    text-align: center;
    overflow: hidden;
    margin: 0% 0% 0% 0%;
}
.nav li {
    float: left;
    text-align: center;
}
.nav li a {
    display: block;
    color: black;
    padding: 2.3275vw 3.99vw 2.3275vw 3.99vw;
    text-decoration: none;
}
.nav li a:hover,.nav a.active {
    color: #DDEDF4;
    background-color: #212221;
}

/* Logo Link Padding */
#logo-link {
    padding: 0%;
}

/* Page Header Visuals */
h1 {
    text-align: center;
}
h1 span {
    font-size: 2.66vw;
    color: #DDEDF4;
    background-color: #212221;
    padding: 0.9975vw;
    width: 13.3vw;
    font-family: 'Newsreader', serif;
    font-weight: normal;
    border-style: solid;
}

/* Home Page Container */
#welcome-container {
    position: relative;
    text-align: center;
}
#home-page-header {
    position: absolute;
    margin-top: 4%;
    left: 41%;
    right: 40%;
    z-index: 1;
}
#galaxy-background {
    position: relative;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#welcome-content {
    color: #DDEDF4;
    font-size: 2.66vw;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(33, 34, 33);
    background: rgba(33, 34, 33, 0.8);
    padding: 0.665vw;    
    margin: 0.3325vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #44449B solid 0.133vw;
}
/* Home Page Section 2 */
#site-introduction {
    position: relative;
    margin: 5% 8% 15% 7%;
}
#site-introduction-header {
    text-align: center;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #DDEDF4;
    text-decoration: underline #1181B2;
}
#site-introduction-content {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 17%;
    left: 56%;
    font-size: 1.6625vw;
    line-height: 1.5;
    padding: 0.9975vw;
    background-color: #1181B2;
    color: #DDEDF4;
    border-radius: 1.995vw;
}
#code-image {
    width: 39.9vw;
    height: auto;
    border-style: solid;
    border-color: #1181B2;
    border-width: 0.5em;
    border-radius: 1.995vw;
}
    /* Code Image Glare Effect */
#site-introduction figure {
    position: relative;
}
#site-introduction figure::before {
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
#site-introduction figure:hover::before {
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	50% {
		left: 125%;
	}
}
@keyframes shine {
	50% {
		left: 125%;
	}
}
/* About Me Section 1 */
#about-me-container {
    position: relative;
    text-align: center;
}
#about-me-header {
    position: absolute;
    margin-top: 4%;
    left: 41%;
    right: 40%;
    z-index: 1;
}
#brain-background {
    position: relative;
    width: 100%;
}
#about-me-content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 66.6666%;
    transform: translate(-50%, -50%);
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 2.66vw;
    color: #212221;
    padding: 1.995vw;
    border-style: dashed;
    border-color: #212221;
    border-width: 0.1995vw;
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.65);
}
    /* Section 1.0 - Intrests */
#intrests {
    position: relative;
    margin: 5% 8% 7% 7%;
}
#intrests-header {
    text-align: center;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    text-decoration: underline #DDEDF4;
}
#intrests-content {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 55%;
    margin-right: 5%;
    font-size: 1.6625vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #DDEDF4;
    padding: 0.9975vw;
    border: #DDEDF4;
    border-style: solid;
    border-width: 0.3325vw;
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.3);
}
#albert-einstien {
    width: 26.6vw;
    height: auto;
    margin-left: 5%;
    border: #DDEDF4;
    border-style: solid;
    border-width: 0.5em;
    border-radius: 66.5vw;
}
    /* Section 1.1 - Sports */
#sports {
    position: relative;
    margin: 0% 8% 50% 7%;
}
#sports-header {
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #44449B;
    background-color: #DDEDF4;
    padding: 0.0665vw 3.99vw 0.0665vw 3.99vw;
    width: fit-content;
    margin-left: 7.1%;
    margin-bottom: 3%;
    border-radius: 1.33vw;
}
#sports-content {
    position: absolute;
    top: 140%;
    right: 50%;
    text-align: center;
    color: #44449B;
    background: #DDEDF4;
    padding: 1.6625vw;
    font-size: 1.5295vw;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10%;
    border-radius: 1.33vw;
}
#kobe-image {
    position: absolute;
    top: 80%;
    right: 0%;
    border: #44449B;
    border-style: solid;
    border-width: 0.5em;
}
#kobe {
    width: 33.25vw;
    height: auto;
}
#kobe-image:hover {
    filter: invert(100%);
}
#kobe-caption {
    text-align: center;
    color: #44449B;
    font-size: 1.33;
    font-family: 'Newsreader', serif;
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.9);
}
    /* Section 1.3 - Games */
#games {
    position: relative;
    margin: 0% 8% 50% 7%;
}
#games-header {
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #1181B2;
    background-color: #DDEDF4;
    padding: 0.0665vw 3.99vw 0.0665vw 3.99vw;
    width: fit-content;
    margin-left: 7.1%;
    margin-bottom: 3%;
    border-radius: 1.33vw;
}
#games-content {
    text-align: center;
    position: absolute;
    top: 110%;
    left: 5%;
    right: 5%;
    border-radius: 1.33vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6625vw;
    color: #1181B2;
    background: #DDEDF4;
    padding: 1.6625vw;
}
#pawn-promotion-image {
    width: 41.25vw;
    height: auto;
    position:absolute;
    top: 340%;
    left: 24%;
    right: 27%;
    border: #1181B2;
    border-style: solid;
    border-width: 0.5em;
}
        /* Chess Puzzle */
#chess-puzzle {
    position: relative;
    margin: 7% 8% 5% 7%;
}
#puzzle-context {
    text-align: left;
    font-size: 1.995vw;
    font-family: 'Newsreader', serif;
    color: #DDEDF4;
    background-color: #44449B;
    padding: 0.9975vw;
    margin: 3% 25% 4% 10%;
    border: solid;
    border-color: #DDEDF4;
    border-width: 0.133vw;
}
#chess-puzzle-image {
    width: 39.9vw;
    height: auto;
    margin-left: 3%;
    position: relative;
    border: #44449B;
    border-style: solid;
    border-width: 0.7em;
    display: block;
    clear: both;
    outline: 0.133vw solid #DDEDF4;
}
            /* Chess Puzzle Button */
#puzzle-answer { 
    position: absolute; 
    background-color: #212221;
    color: #DDEDF4;
    top: 56%; 
    left: 73%; 
    font-size: 1.33vw; 
    padding: 0.9975vw; 
    border: solid;
    border-color: #DDEDF4;
    border-width: 0.133vw;
} 
#puzzle-answer::before { 
    content: "Answer"; 
    font-size: 2.66vw;
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background: #44449B; 
    color: #DDEDF4;
    transition: 0.5s ease-in-out; 
} 
#puzzle-answer:hover::before { 
    left: 103%; 
} 
    /* Section 1.3 - Media */
#media {
    position: relative;
    margin: 10% 8% 40% 7%;
}
#media-header {
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #212221;
    background-color: #DDEDF4;
    padding: 0.0665vw 3.99vw 0.0665vw 3.99vw;
    width: fit-content;
    margin-left: 7.1%;
    border-radius: 1.33vw;
    margin-bottom: 1%;
}
#media-content {
    text-align: center;
    position: absolute;
    top: 145%;
    left: 50%;
    right: 2%;
    border-radius: 1.33vw;
    font-size: 1.3965vw;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1.6625vw;
    color: #212221;
    background: #DDEDF4;
}
#middle-child-video {
    width: 35.245vw;
    height: auto;
    position: absolute;
    top: 188%;
    left: 0%;
    border: #DDEDF4;
    border-style: solid;
    border-width: 0.1995vw;
    border-radius: 1.33vw;
}
#song-link {
    text-decoration: none;
    color: #DDEDF4;
    position: absolute;
    bottom: -367%;
    left: 1%;
    padding: 0.3325vw 0.665vw 0.3325vw 0.665vw;
}
#song-link:hover {
    color: #212221;
    background-color: #DDEDF4;
}
/* Section 2.0 - My Past */
#past {
    position: relative;
    margin: 10% 8% 10% 7%;
}
#past-header {
    text-align: center;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    text-decoration: underline #DDEDF4;
}
#past-content {
    position: absolute;
    text-align: center;
    top: 21%;
    left: 53%;
    margin-right: 2%;
    font-size: 1.3965vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #DDEDF4;
    padding: 0.9975vw;
    border: #DDEDF4;
    border-style: solid;
    border-width: 0.3325vw;
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.3);
}
#gauss-award {
    margin-top: 5%;
    width: 35.91vw;
    height: auto;
}
#gauss-caption {
    margin: 0% 68% 0% 1%;
    padding: 0.3325vw 0.665vw 0.3325vw 0.665vw;
    border: solid #44449B 0.1995vw;
    color: #44449B;
    background: #DDEDF4;
    font-size: 1.16375vw;
}
    /* Section 3 Header */
#future-header {
    text-align: center;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    text-decoration: underline #DDEDF4;
}
        /* Section 3.0 - Career */
#career {
    position: relative;
    margin: 5% 8% 5% 7%;
}
#career-header {
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #DDEDF4;
    background-color: #1181B2;
    padding:  0.0665vw 3.99vw 0.0665vw 3.99vw;
    width: fit-content;
    margin-left: 7.1%;
    border-radius: 1.33vw;
    margin-bottom: 1%;
}
#career-content {
    text-align: center;
    margin: 5% 20% 2% 15%;
    border-radius: 1.33vw;
    font-size: 1.5295vw;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1.6625vw;
    color: #DDEDF4;
    background: #1181B2;
}
        /* Fun Fact */
#fact {
    position: relative; 
    margin: 1% 8% 5% 7%;
}
#fact-header {
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    color: #1181B2;
    background-color: #DDEDF4;
    padding: 0.0665vw 1.995vw 0.0665vw 1.995vw;
    width: fit-content;
    margin-left: 43.5%;
    border-radius: 1.33vw;
    margin-bottom: 6%;
    border: #1181B2 solid 0.3325vw;
    
}
#fact-content {
    background-color: #DDEDF4;
    border: #1181B2 solid 0.1995vw;
    color: #212221;
    font-size: 1.5295vw;
    padding: 0.3325vw;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 56%;
    left: 60%;
    right: 10%;
}
#flight-sergant-badge {
    width: 26.6vw;
    height: auto;
    margin-left: 7%;
    border: #1181B2 solid 0.5em;
}
    /* Section 3.1 - Other */
#other-container {
    position: relative;
    text-align: center;
}
#stock-background {
    position: relative;
    width: 100%;
}
#other-header {
    position: absolute;
    margin-top: 10%;
    left: 40%;
    right: 40%;
    z-index: 1;
    color: #212221;
    background-color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
}
#other-content {
    position: absolute;
    text-align: center;
    top: 37%;
    left: 22%;
    right: 22%;
    font-size: 1.6625vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #DDEDF4;
    padding: 0.9975vw;
    border: #DDEDF4;
    border-style: solid;
    border-width: 0.3325vw;
    background: rgb(33, 34, 33);
    background: rgba(33,34,33, 0.7);
}
    /* About Me Footer */
#footer {
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #1181B2;
    text-align: center;
}
#button-context {
    color: #212221;
    font-size: 2.3275vw;
    font-family: 'Newsreader', serif;
    margin-bottom: 2%;
    border:#212221 solid 0.1995vw;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0.9975vw;
    background-color: #DDEDF4;
}
        /* Back To Top Button */
#top-button {
    color: #DDEDF4;
    background-color: #212221;
    padding: 0.9975vw;
    border: #DDEDF4 solid 0.133vw;
    font-size: 1.33vw;
    font-family: 'Newsreader', serif;
}
#top-button:hover {
    color: #212221;
    background-color: #DDEDF4;
    border: #212221 solid 0.1995vw;
    cursor:pointer;
    transition: 200ms;
}
/* Projects Page */
#projects-container {
    position: relative;
    text-align: center;
}
#projects-page-header {
    position: absolute;
    margin-top: 4%;
    left: 41%;
    right: 40%;
    z-index: 1;
}
#sunset-background {
    width: 100%;
    transform: scaleX(-1);
    z-index: -2;
}
#projects-content {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 3.325vw;
    color: #DDEDF4;
    padding: 1.995vw;
    background: rgb(33, 34, 33);
    background: rgba(33, 34, 33, 0.65);
}
    /* Link To Vault */
#vault-portal {
    position: absolute;
    bottom: 41.5%;
    left: 43.9%;
}
#vault-portal button {
    border: #DDEDF4 solid 0.1995vw;
    background-color: #44449B;
    border-radius: 999px;
}
#vault-portal button a {
    display: block;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    padding: 1.995vw 2.99vw 1.995vw 2.99vw;
    text-decoration: none;
}
#vault-portal button:hover {
    border: #44449B solid 0.3325vw;
    background-color: #DDEDF4;
    border-radius: 999px;
    transition: 200ms;
}
#vault-portal button a:hover {
    color: #44449B;
}
/* Vault Page */
/* Encryption Assignment Buttons */
.buttons-2 {
    font-size: 1.5295vw;
    font-family: 'Newsreader', serif;
    padding: 2% 5% 2% 5%;
    color: #DDEDF4;
    background-color: #1181B2;
    border: #DDEDF4 solid 0.1995vw;
    width: 15vw;
    height: 5.8vw; 
}
.buttons-2:hover {
    cursor: pointer;
    color: #DDEDF4;
    background-color: #44449B;
    border: #DDEDF4 solid 0.1995vw;
    transition: 200ms;
}
#encrypt {
    position: absolute;
    left: 12.9vw;
    top: 9.5vw;

}
#decrypt {
    position: absolute;
    right: 12.9vw;
    top: 9.5vw;
}

/* Button Assignment */
.vault {
    background-color: #44449B;
}
#button-assignment {
    padding: 3% 5% 1% 5%;
    text-align: center;
}
    /* Button Assignment Header */
#button-header {
    font-size: 1.33vw;
    font-family: 'Newsreader', serif;
    padding: 0.5% 0% 0.5% 0% ;
    background-color: #1181B2;
    color: #DDEDF4;
    border: #DDEDF4 solid 0.1995vw;
    margin: 0% 32.5% 4% 32.5%;
}
.buttons {
    font-size: 1.5295vw;
    font-family: 'Newsreader', serif;
    padding: 2% 5% 2% 5%;
    color: #DDEDF4;
    background-color: #212221;
    border: #DDEDF4 solid 0.1995vw;
    width: 20vw;
    height: 5.8vw; 
    margin: 4% 5% 4% 5%;
}
    /* Button Hover Properties */
.buttons:hover {
    color: #212221;
    background: #DDEDF4;
    border: #212221 solid 0.1995vw;
    transition: 300ms;
    cursor: pointer;
}
#answer-box {
    color: #212221;
    background: #DDEDF4;
    border: #212221 solid 0.1995vw;
    height: fit-content;
}
#answer-box:hover {
    color: #DDEDF4;
    background-color: #212221;
    border: #DDEDF4 solid 0.1995vw;
}
    /* Button Active Properties */
.buttons.active.focus, .buttons.active, 
.buttons.focus, .buttons:active.focus, 
.buttons:active:focus, .buttons:focus, 
.buttons.active:focus {
    outline: none;
    box-shadow: none;
    color: #DDEDF4;
    background-color: #1181B2;
    border: #DDEDF4 solid 0.1995vw;
    transition: 0ms;
}
/* Tech Experience Section 1 */
#tech-exp-container {
    position: relative;
    text-align: center;
    margin: 0%;
}
#tech-exp-header {
    position: absolute;
    margin-top: 4%;
    left: 39.25%;
    right: 38%;
    z-index: 1;
}
#stars-background {
    position: relative;
    width: 100%;
}
#skills {
    color: #44449B;    
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.7);
    font-size: 1.197vw;
    font-family: 'Newsreader', serif;
    text-decoration: underline;
    position: absolute;
    width: 17.29vw;
    z-index: 1;
    top: 19%;
    left: 42%;
    right: 43%;
    border-color: #44449B;
    border-style: solid;
    border-width: 0.133;
}
#skills-content {
    color: #44449B;
    font-size: 1.6625vw;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(221, 237, 244);
    background: rgba(221, 237, 244, 0.65);
    padding: 0.665vw;    
    margin: 0.3325vw;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #44449B;
    border-style: solid;
    border-width: 0.133vw;
}
    /* Fundraising Project Link */
#fundraiser-link {
    font-size: 1.33vw;
    font-family: 'Newsreader', serif;
    text-decoration: none;
    position: absolute;
    bottom: 20%;
    left: 35%;
    right: inherit;    
    color: #DDEDF4;
    background-color: #44449B;
    padding: 0.9975vw;
    border-color: #212221;
    border-style: solid;
    border-width: 0.0665vw;
}
#fundraiser-link:hover {
    color: #44449B;
    background-color: #DDEDF4;
    border-color: #44449B;
    border-style: solid;
    border-width: 0.0665vw;
    transition: 200ms;
}
/* Tech Experience Section 2 */
#experience {
    position: relative;
    margin: 5% 8% 7% 7%;
}
#experience-header {
    text-align: center;
    margin-top: 5%;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Newsreader', serif;
    text-decoration: underline #44449B 0.3325vw;
}
#anonymous-hacker {
    width: 26.6vw;
    height: auto;
    position: relative;
    left: 3%;
    border-style: solid;
    border-color: #44449B;
    border-width: 0.5em;
    border-radius: 66.5vw;
}
#experience-content {
    text-align: center;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-right: 5%;
    padding: 0.9975vw;
    color: #DDEDF4;
    font-size: 1.6625vw;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #44449B;
    border-style: solid;
    border-color: #1181B2;
    border-width: 0.3325vw;
    border-radius: 0.665vw;
}
/* The End!! */